<h1>Listing users</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Login</th>
    <th>Email</th>
    <th>Amount</th>
    <th>Daddr</th>
    <th>Waddr</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.id %></td>
    <td><%= user.login %></td>
    <td><%= user.email %></td>

    <% if !user.account.nil? %>
      <td><%= user.account.amount %></td>
      <td><%= user.account.daddr %></td>
      <td><%= user.account.waddr %></td>
    <% else %>
      <td></td>
      <td></td>
      <td></td>
    <% end %>

    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
