<h1>Listing accounts</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Daddr</th>
    <th>Waddr</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accounts.each do |account| %>
  <tr>
    <td><%= account.amount %></td>
    <td><%= account.daddr %></td>
    <td><%= account.waddr %></td>
    <td><%= account.user_id %></td>
<% end %>
</table>

<br />

<%= link_to 'New Account', new_user_account_path %>
